<h1>Blockly Scripts</h1>

<script>
    function handleNewScript(){
        window.location = "/new";
    }
</script>
<input type="button" value="New script" onclick="handleNewScript()">
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Script Name</th>
        </tr>
    </thead>
    <tbody>
        {{#each files}}
        <tr>
            <td>
                <a href="/edit/{{this}}">
                    {{this}}
                </a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>